# RabbitMQ configuration
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=admin

# Queue names
NEWS_QUEUE_NAME=news
RSS_ATOM_QUEUE_NAME=rss_atom
SEARCHER_QUEUE_NAME=searcher

# Cloudflared tunnel configuration
TUNNEL_TOKEN=your_cloudflared_tunnel_token_here